{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}
<div class="w3-display-container w3-margin-top">
        
        <form class="w3-display-topmiddle w3-container w3-card-4" action="{{ url_for(login) }}" method="POST">
        <h1>Sign In</h1>
        <p>
        <input class="w3-input" type="text" name="username" required>
        <label>Name</label></p>
        <p>
        <input class="w3-input" type="password" name="password" required>
        <label>Password</label></p>
            
        <p>
        <button class="w3-button w3-section w3-teal w3-ripple"> Log in </button></p>
        
        </form>
        
</div> 
{% endblock %}