{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<div class="w3-display-container w3-margin-top">
        
        <form class="w3-display-topmiddle w3-third w3-container w3-card-4" action="#" method="post">
        <h1 class="w3-center">Look up for a Book</h1>
        
        <p>
        <input class="w3-input" type="text" name="isbn">
        <label>ISBN</label></p>
        <p>
        <input class="w3-input" type="text" name="title">
        <label>Title</label></p>
        <p>
        <input class="w3-input" type="text" name="author">
        <label>Author</label></p>
        <p>
        <input class="w3-input" type="number" name="year">
        <label>Year</label></p>
        
            
        <p class="w3-center">
        <button class="w3-button w3-section w3-teal w3-ripple w3-large"> Search </button></p>
        
        </form>
        
</div> 
{% endblock %}