<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header class="w3-container">
        <h1 class="w3-center"><span class="w3-green">Liber</span> FOR <span class="w3-red">YOU</span></h1>
        <nav class="w3-bar w3-black">
            <a href="{{ url_for('index') }}" class="w3-bar-item w3-button">Home</a>
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            {% if session.user_id %}
            <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-right w3-indigo">Log out</a>
            <button class="w3-bar-item w3-button w3-block w3-right w3-teal">{{ session.user_id[1] }}</button>
            {% else %}
            <a href="{{ url_for('register') }}" class="w3-bar-item w3-button w3-right w3-indigo">Register</a>
            {% endif %}
        </nav>
    </header>
    <main class="w3-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              {% if category == 'Error' %}
                <div class="w3-panel w3-red">
               {% else %}
               <div class="w3-panel w3-green">
              {% endif %}
            <h3 class="w3-center">{{ message }}</h3>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
    </main>
</body>
</html>